* {
    margin: 0;
    padding: 0;
}

:root {
    --main-padding: 5%;
}

body {
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-size: 400px;
    color: #568e9c;
    font-family: 'Inconsolata', monospace;
}

h2 {
    color: hsl(192, 29%, 60%);
    font-size: 190%;
}

h3 {
    color: hsl(192, 29%, 50%);
    font-size: 150%;
}

h4 {
    color: hsl(192, 29%, 40%);
    font-size: 130%;
}

a {
    color: hsl(352, 91%, 39%);
    transition: color 200ms linear;
}

a:hover {
    color: #cccde5;
}

section {
    padding-left: 5%;
}

#bg {
    background-color: rgba(0, 0, 0, 0.6);
}

#container {
    background: #001623;
    margin: 0 auto;
    width: 70%;
}

    #header {
        display: flex;
        align-items: flex-end;
        padding: 0 0 10% 0;
    }

        #header #name {
            font-size: 250%;
            flex: 1 1 100%; 
            background: #003E63;
            padding: 3%;
            text-align: center;
        }

            #header #name h1 {
                font-size: 50px;
                color: #001420;
                
            }

            #header nav {
            text-align: right;
            flex: 1 1 100%;
            font-size: 150%;
        }
        
            #header nav a {
                margin: 0 2%;
            }
    
    #content {
        line-height: 2.5;
    }
    
        #about-me .flex-container {
            display: flex;
            justify-content: space-between;
            font-size: 105%;
        }
        
        .about-me {
            flex: 0 0 50%;
            max-width: 47%;
        }
        
        #skills {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            list-style: none;
        }
        
            #skills li {
                flex: 1 1 50%;
            }
            
            #skills li:before {
                content: "-";
            }

    #showcase {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 100px;
        justify-items:center;
    }
        

        .project-header {
            background: whitesmoke;
            padding: 4%;
            font-size: 140%;
            text-align: center;
            max-width: 200px;
            min-height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;  
        }

        .project-body {
            min-height: 200px;
        }

        .project-footer {
            text-align: center;
            padding: 10% 0;
            background: black;
        }

        .project-footer a {
            text-decoration: none;
        }

img {
    vertical-align: middle;   
}
footer {
    padding: 10%;
    text-align: center;
}

footer a {
    margin: 0 3%;
}

@media (max-width: 1280px) {
    #container {
        width: 80%;
    }
}

@media (max-width: 800px) {
    #container {
        width: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: 700px) {
    #about-me .flex-container{
        flex-direction: column;
    }

    .about-me {
        margin-bottom: 5%;
       min-width: 100%;
    }
}
