* {
    margin: 0;
    padding: 0;
}

html {
    padding-bottom: 2em;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    padding-bottom: 2em;
    font-size: 100%;
    color: #black;
    background: #3E506B;
}

#header {
    display: flex;
    align-items: center;
    background: #44ADAD;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    max-height: 75px;
    font-size: 150%;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    font-size: 0.85em;
    padding: 1.1em 2em;
}

.nav-link:hover {
    background: red;
}

#header ul {
    display: flex;
    list-style: none;
}

#header-title {
    font-size: 150%;
    width: 70%;
}

#container {
    width: 70%;
    position: relative;
    top: 75px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 2em;
    background: #fff;
    margin: 1em 0;
    margin-left: -1.5em;
    margin-right: -1.5em;

}

#video {
    width: 100%;
    height: 100%;   
}

#offer {
    background: #FCC82B;
    font-size: 110%;
}

.offer-flex {
    display: flex;
}

.offer-flex-cell-1 {
    flex: 3 1 0;
    padding: 1em;
}

.offer-flex-cell-2 {
    flex: 2 1 0;
    padding: 1em;
    line-height: 2;
    text-align: left;
}

#testimony {
    background: #E23A59;
}

#pricing {
    background: white;
}

#packages {
    display: flex;
    justify-content: center;
}

#packages ul {
    list-style-type: none;
}

.package-box {
    border: 1px solid;
    min-width: 200px;
    background: white;
    border-radius: 5px;
    margin: 0 2%;
}
.package-name {
    padding: 0.5em;
    background: #E23A59;
    font-size: 150%;
    font-weight: bolder;
}

.package-offer li {
    margin: 3em 0;
}

.section {
    padding: 3em;
    background: #fff;
}

#students {
    display: flex;
    justify-content: center;
    text-align: center;
}

.student-box {
    margin: 0 2em;
}

.student-box img {
    border-radius: 50%;
}

#video {
    display: block;
    margin: auto;
}
