@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    background: #ADC4E8;
    margin: 0;
    padding: 0;
}

#container {
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background: white;
}

#tribute-info {
    padding: 1.5rem 2rem 1.5rem 1rem;
    text-align: left;
}

figure {
    max-width: 80%;
    margin: auto;
}

figcaption {
    font-style: italic;
    font-size: 80%;
    margin-top: 0.5rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

ul {
    padding: 0;
    list-style-type: square;
}

header {
    margin-bottom: 2rem;
}

a {
    color: #2C68C8;
}

li {
    margin: 1rem;
}

@media (max-width: 1000px) {
    #container {
        width: 75%;
    }
}

@media (max-width: 640px) {
    #container {
        width: 100%;
        padding: 0;
    }

    figure {
        max-width: 85%;
    }
}
